<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- fragments/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4" th:fragment="navbar">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" th:href="@{/my-projects}">
            <img th:src="@{/images/calcura-logo.png}" alt="Calcura" height="36" class="me-2">
            <span class="fw-bold">Calcura</span>
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/my-projects}">Mine Projekter</a>
                </li>
                <!-- Show tasks link to all users, but especially useful for employees -->
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tasks/my-assigned-tasks}">Mine Opgaver</a>
                </li>
            </ul>

            <!-- Log out button -->
            <form th:action="@{/logout}" method="post" class="d-flex">
                <button class="btn btn-outline-danger" type="submit">Log ud</button>
            </form>
        </div>
    </div>
</nav>
</body>
</html>
